Semester 3/modul4/xinu-vbox/compile/.defs
Semester 3/modul4/xinu-vbox/compile/.deps
Semester 3/modul4/xinu-vbox/compile/.vers_num
Semester 3/modul4/xinu-vbox/compile/bin/build-make
Semester 3/modul4/xinu-vbox/compile/bin/mkvers
Semester 3/modul4/xinu-vbox/compile/binaries/82545EMInit.o
Semester 3/modul4/xinu-vbox/compile/binaries/abs.o
Semester 3/modul4/xinu-vbox/compile/binaries/addargs.o
Semester 3/modul4/xinu-vbox/compile/binaries/arp.o
Semester 3/modul4/xinu-vbox/compile/binaries/ascdate.o
Semester 3/modul4/xinu-vbox/compile/binaries/atoi.o
Semester 3/modul4/xinu-vbox/compile/binaries/atol.o
Semester 3/modul4/xinu-vbox/compile/binaries/bufinit.o
Semester 3/modul4/xinu-vbox/compile/binaries/bzero.o
Semester 3/modul4/xinu-vbox/compile/binaries/chprio.o
Semester 3/modul4/xinu-vbox/compile/binaries/clkdisp.o
Semester 3/modul4/xinu-vbox/compile/binaries/clkhandler.o
Semester 3/modul4/xinu-vbox/compile/binaries/clkinit.o
Semester 3/modul4/xinu-vbox/compile/binaries/close.o
Semester 3/modul4/xinu-vbox/compile/binaries/conf.o
Semester 3/modul4/xinu-vbox/compile/binaries/control.o
Semester 3/modul4/xinu-vbox/compile/binaries/create.o
Semester 3/modul4/xinu-vbox/compile/binaries/ctxsw.o
Semester 3/modul4/xinu-vbox/compile/binaries/ctype_.o
Semester 3/modul4/xinu-vbox/compile/binaries/dhcp.o
Semester 3/modul4/xinu-vbox/compile/binaries/dns.o
Semester 3/modul4/xinu-vbox/compile/binaries/doprnt.o
Semester 3/modul4/xinu-vbox/compile/binaries/doscan.o
Semester 3/modul4/xinu-vbox/compile/binaries/dot2ip.o
Semester 3/modul4/xinu-vbox/compile/binaries/ethcontrol.o
Semester 3/modul4/xinu-vbox/compile/binaries/ethdispatch.o
Semester 3/modul4/xinu-vbox/compile/binaries/ethhandler.o
Semester 3/modul4/xinu-vbox/compile/binaries/ethinit.o
Semester 3/modul4/xinu-vbox/compile/binaries/ethread.o
Semester 3/modul4/xinu-vbox/compile/binaries/ethwrite.o
Semester 3/modul4/xinu-vbox/compile/binaries/evec.o
Semester 3/modul4/xinu-vbox/compile/binaries/exit.o
Semester 3/modul4/xinu-vbox/compile/binaries/fdoprnt.o
Semester 3/modul4/xinu-vbox/compile/binaries/fgetc.o
Semester 3/modul4/xinu-vbox/compile/binaries/fgets.o
Semester 3/modul4/xinu-vbox/compile/binaries/fprintf.o
Semester 3/modul4/xinu-vbox/compile/binaries/fputc.o
Semester 3/modul4/xinu-vbox/compile/binaries/fputs.o
Semester 3/modul4/xinu-vbox/compile/binaries/freebuf.o
Semester 3/modul4/xinu-vbox/compile/binaries/freemem.o
Semester 3/modul4/xinu-vbox/compile/binaries/fscanf.o
Semester 3/modul4/xinu-vbox/compile/binaries/getbuf.o
Semester 3/modul4/xinu-vbox/compile/binaries/getc.o
Semester 3/modul4/xinu-vbox/compile/binaries/getchar.o
Semester 3/modul4/xinu-vbox/compile/binaries/getdev.o
Semester 3/modul4/xinu-vbox/compile/binaries/getitem.o
Semester 3/modul4/xinu-vbox/compile/binaries/getmem.o
Semester 3/modul4/xinu-vbox/compile/binaries/getpid.o
Semester 3/modul4/xinu-vbox/compile/binaries/getprio.o
Semester 3/modul4/xinu-vbox/compile/binaries/getstk.o
Semester 3/modul4/xinu-vbox/compile/binaries/getticks.o
Semester 3/modul4/xinu-vbox/compile/binaries/gettime.o
Semester 3/modul4/xinu-vbox/compile/binaries/getutime.o
Semester 3/modul4/xinu-vbox/compile/binaries/hexdump.o
Semester 3/modul4/xinu-vbox/compile/binaries/i386.o
Semester 3/modul4/xinu-vbox/compile/binaries/icmp.o
Semester 3/modul4/xinu-vbox/compile/binaries/init.o
Semester 3/modul4/xinu-vbox/compile/binaries/initialize.o
Semester 3/modul4/xinu-vbox/compile/binaries/insert.o
Semester 3/modul4/xinu-vbox/compile/binaries/insertd.o
Semester 3/modul4/xinu-vbox/compile/binaries/intr.o
Semester 3/modul4/xinu-vbox/compile/binaries/ioerr.o
Semester 3/modul4/xinu-vbox/compile/binaries/ionull.o
Semester 3/modul4/xinu-vbox/compile/binaries/ip.o
Semester 3/modul4/xinu-vbox/compile/binaries/kill.o
Semester 3/modul4/xinu-vbox/compile/binaries/kprintf.o
Semester 3/modul4/xinu-vbox/compile/binaries/labs.o
Semester 3/modul4/xinu-vbox/compile/binaries/lexan.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfdballoc.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfdbfree.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfflush.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfgetmode.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfiballoc.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfibclear.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfibget.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfibput.o
Semester 3/modul4/xinu-vbox/compile/binaries/lflclose.o
Semester 3/modul4/xinu-vbox/compile/binaries/lflcontrol.o
Semester 3/modul4/xinu-vbox/compile/binaries/lflgetc.o
Semester 3/modul4/xinu-vbox/compile/binaries/lflinit.o
Semester 3/modul4/xinu-vbox/compile/binaries/lflputc.o
Semester 3/modul4/xinu-vbox/compile/binaries/lflread.o
Semester 3/modul4/xinu-vbox/compile/binaries/lflseek.o
Semester 3/modul4/xinu-vbox/compile/binaries/lflwrite.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfscheck.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfsckfmt.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfscreate.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfsetup.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfsinit.o
Semester 3/modul4/xinu-vbox/compile/binaries/lfsopen.o
Semester 3/modul4/xinu-vbox/compile/binaries/lftruncate.o
Semester 3/modul4/xinu-vbox/compile/binaries/main.o
Semester 3/modul4/xinu-vbox/compile/binaries/mark.o
Semester 3/modul4/xinu-vbox/compile/binaries/memchr.o
Semester 3/modul4/xinu-vbox/compile/binaries/memcmp.o
Semester 3/modul4/xinu-vbox/compile/binaries/memcpy.o
Semester 3/modul4/xinu-vbox/compile/binaries/meminit.o
Semester 3/modul4/xinu-vbox/compile/binaries/memset.o
Semester 3/modul4/xinu-vbox/compile/binaries/mkbufpool.o
Semester 3/modul4/xinu-vbox/compile/binaries/mount.o
Semester 3/modul4/xinu-vbox/compile/binaries/naminit.o
Semester 3/modul4/xinu-vbox/compile/binaries/nammap.o
Semester 3/modul4/xinu-vbox/compile/binaries/namopen.o
Semester 3/modul4/xinu-vbox/compile/binaries/net.o
Semester 3/modul4/xinu-vbox/compile/binaries/netstart.o
Semester 3/modul4/xinu-vbox/compile/binaries/newqueue.o
Semester 3/modul4/xinu-vbox/compile/binaries/open.o
Semester 3/modul4/xinu-vbox/compile/binaries/panic.o
Semester 3/modul4/xinu-vbox/compile/binaries/pci.o
Semester 3/modul4/xinu-vbox/compile/binaries/pdump.o
Semester 3/modul4/xinu-vbox/compile/binaries/pipe_close.o
Semester 3/modul4/xinu-vbox/compile/binaries/pipe_getc.o
Semester 3/modul4/xinu-vbox/compile/binaries/pipe_init.o
Semester 3/modul4/xinu-vbox/compile/binaries/pipe_open.o
Semester 3/modul4/xinu-vbox/compile/binaries/pipe_putc.o
Semester 3/modul4/xinu-vbox/compile/binaries/pipe_read.o
Semester 3/modul4/xinu-vbox/compile/binaries/pipe_write.o
Semester 3/modul4/xinu-vbox/compile/binaries/printf.o
Semester 3/modul4/xinu-vbox/compile/binaries/ptclear.o
Semester 3/modul4/xinu-vbox/compile/binaries/ptcount.o
Semester 3/modul4/xinu-vbox/compile/binaries/ptcreate.o
Semester 3/modul4/xinu-vbox/compile/binaries/ptdelete.o
Semester 3/modul4/xinu-vbox/compile/binaries/ptinit.o
Semester 3/modul4/xinu-vbox/compile/binaries/ptrecv.o
Semester 3/modul4/xinu-vbox/compile/binaries/ptreset.o
Semester 3/modul4/xinu-vbox/compile/binaries/ptsend.o
Semester 3/modul4/xinu-vbox/compile/binaries/putc.o
Semester 3/modul4/xinu-vbox/compile/binaries/putchar.o
Semester 3/modul4/xinu-vbox/compile/binaries/qsort.o
Semester 3/modul4/xinu-vbox/compile/binaries/queue.o
Semester 3/modul4/xinu-vbox/compile/binaries/ramclose.o
Semester 3/modul4/xinu-vbox/compile/binaries/raminit.o
Semester 3/modul4/xinu-vbox/compile/binaries/ramopen.o
Semester 3/modul4/xinu-vbox/compile/binaries/ramread.o
Semester 3/modul4/xinu-vbox/compile/binaries/ramwrite.o
Semester 3/modul4/xinu-vbox/compile/binaries/rand.o
Semester 3/modul4/xinu-vbox/compile/binaries/rdsars.o
Semester 3/modul4/xinu-vbox/compile/binaries/rdscomm.o
Semester 3/modul4/xinu-vbox/compile/binaries/rdscontrol.o
Semester 3/modul4/xinu-vbox/compile/binaries/rdsinit.o
Semester 3/modul4/xinu-vbox/compile/binaries/rdsopen.o
Semester 3/modul4/xinu-vbox/compile/binaries/rdsprocess.o
Semester 3/modul4/xinu-vbox/compile/binaries/rdsqfcns.o
Semester 3/modul4/xinu-vbox/compile/binaries/rdsread.o
Semester 3/modul4/xinu-vbox/compile/binaries/rdswrite.o
Semester 3/modul4/xinu-vbox/compile/binaries/read.o
Semester 3/modul4/xinu-vbox/compile/binaries/ready.o
Semester 3/modul4/xinu-vbox/compile/binaries/receive.o
Semester 3/modul4/xinu-vbox/compile/binaries/recvclr.o
Semester 3/modul4/xinu-vbox/compile/binaries/recvtime.o
Semester 3/modul4/xinu-vbox/compile/binaries/resched.o
Semester 3/modul4/xinu-vbox/compile/binaries/resume.o
Semester 3/modul4/xinu-vbox/compile/binaries/rflclose.o
Semester 3/modul4/xinu-vbox/compile/binaries/rflgetc.o
Semester 3/modul4/xinu-vbox/compile/binaries/rflinit.o
Semester 3/modul4/xinu-vbox/compile/binaries/rflputc.o
Semester 3/modul4/xinu-vbox/compile/binaries/rflread.o
Semester 3/modul4/xinu-vbox/compile/binaries/rflseek.o
Semester 3/modul4/xinu-vbox/compile/binaries/rflwrite.o
Semester 3/modul4/xinu-vbox/compile/binaries/rfscomm.o
Semester 3/modul4/xinu-vbox/compile/binaries/rfscontrol.o
Semester 3/modul4/xinu-vbox/compile/binaries/rfsgetmode.o
Semester 3/modul4/xinu-vbox/compile/binaries/rfsinit.o
Semester 3/modul4/xinu-vbox/compile/binaries/rfsndmsg.o
Semester 3/modul4/xinu-vbox/compile/binaries/rfsopen.o
Semester 3/modul4/xinu-vbox/compile/binaries/seek.o
Semester 3/modul4/xinu-vbox/compile/binaries/semcount.o
Semester 3/modul4/xinu-vbox/compile/binaries/semcreate.o
Semester 3/modul4/xinu-vbox/compile/binaries/semdelete.o
Semester 3/modul4/xinu-vbox/compile/binaries/semreset.o
Semester 3/modul4/xinu-vbox/compile/binaries/send.o
Semester 3/modul4/xinu-vbox/compile/binaries/shell.o
Semester 3/modul4/xinu-vbox/compile/binaries/signal.o
Semester 3/modul4/xinu-vbox/compile/binaries/signaln.o
Semester 3/modul4/xinu-vbox/compile/binaries/sleep.o
Semester 3/modul4/xinu-vbox/compile/binaries/sprintf.o
Semester 3/modul4/xinu-vbox/compile/binaries/sscanf.o
Semester 3/modul4/xinu-vbox/compile/binaries/stacktrace.o
Semester 3/modul4/xinu-vbox/compile/binaries/start.o
Semester 3/modul4/xinu-vbox/compile/binaries/strchr.o
Semester 3/modul4/xinu-vbox/compile/binaries/strcmp.o
Semester 3/modul4/xinu-vbox/compile/binaries/strcpy.o
Semester 3/modul4/xinu-vbox/compile/binaries/strlen.o
Semester 3/modul4/xinu-vbox/compile/binaries/strncat.o
Semester 3/modul4/xinu-vbox/compile/binaries/strncmp.o
Semester 3/modul4/xinu-vbox/compile/binaries/strncpy.o
Semester 3/modul4/xinu-vbox/compile/binaries/strnlen.o
Semester 3/modul4/xinu-vbox/compile/binaries/strrchr.o
Semester 3/modul4/xinu-vbox/compile/binaries/strstr.o
Semester 3/modul4/xinu-vbox/compile/binaries/suspend.o
Semester 3/modul4/xinu-vbox/compile/binaries/tftp.o
Semester 3/modul4/xinu-vbox/compile/binaries/ttycontrol.o
Semester 3/modul4/xinu-vbox/compile/binaries/ttydispatch.o
Semester 3/modul4/xinu-vbox/compile/binaries/ttygetc.o
Semester 3/modul4/xinu-vbox/compile/binaries/ttyhandle_in.o
Semester 3/modul4/xinu-vbox/compile/binaries/ttyhandle_out.o
Semester 3/modul4/xinu-vbox/compile/binaries/ttyhandler.o
Semester 3/modul4/xinu-vbox/compile/binaries/ttyinit.o
Semester 3/modul4/xinu-vbox/compile/binaries/ttykickout.o
Semester 3/modul4/xinu-vbox/compile/binaries/ttyputc.o
Semester 3/modul4/xinu-vbox/compile/binaries/ttyread.o
Semester 3/modul4/xinu-vbox/compile/binaries/ttywrite.o
Semester 3/modul4/xinu-vbox/compile/binaries/udp.o
Semester 3/modul4/xinu-vbox/compile/binaries/unsleep.o
Semester 3/modul4/xinu-vbox/compile/binaries/userret.o
Semester 3/modul4/xinu-vbox/compile/binaries/wait.o
Semester 3/modul4/xinu-vbox/compile/binaries/wakeup.o
Semester 3/modul4/xinu-vbox/compile/binaries/write.o
Semester 3/modul4/xinu-vbox/compile/binaries/xdone.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_argecho.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_arp.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_cat.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_clear.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_date.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_devdump.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_echo.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_exit.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_help.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_kill.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_ls.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_memdump.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_memstat.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_netinfo.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_ns.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_ping.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_ps.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_sleep.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_tee.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_udpdump.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_udpecho.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_udpserver.o
Semester 3/modul4/xinu-vbox/compile/binaries/xsh_uptime.o
Semester 3/modul4/xinu-vbox/compile/binaries/yield.o
Semester 3/modul4/xinu-vbox/compile/ld.script
Semester 3/modul4/xinu-vbox/compile/Makefile
Semester 3/modul4/xinu-vbox/compile/version
Semester 3/modul4/xinu-vbox/compile/xinu.elf
Semester 3/modul4/xinu-vbox/compile/xinu.map
Semester 3/modul4/xinu-vbox/config/.yyleng
Semester 3/modul4/xinu-vbox/config/conf.c
Semester 3/modul4/xinu-vbox/config/conf.h
Semester 3/modul4/xinu-vbox/config/config
Semester 3/modul4/xinu-vbox/config/config.l
Semester 3/modul4/xinu-vbox/config/config.y
Semester 3/modul4/xinu-vbox/config/Configuration
Semester 3/modul4/xinu-vbox/config/DESCRIPTION
Semester 3/modul4/xinu-vbox/config/lex.yy.c
Semester 3/modul4/xinu-vbox/config/Makefile
Semester 3/modul4/xinu-vbox/config/y.tab.c
Semester 3/modul4/xinu-vbox/COPYRIGHT
Semester 3/modul4/xinu-vbox/DESCRIPTION
Semester 3/modul4/xinu-vbox/device/eth/82545EMInit.c
Semester 3/modul4/xinu-vbox/device/eth/ethcontrol.c
Semester 3/modul4/xinu-vbox/device/eth/ethdispatch.S
Semester 3/modul4/xinu-vbox/device/eth/ethhandler.c
Semester 3/modul4/xinu-vbox/device/eth/ethinit.c
Semester 3/modul4/xinu-vbox/device/eth/ethread.c
Semester 3/modul4/xinu-vbox/device/eth/ethwrite.c
Semester 3/modul4/xinu-vbox/device/lfs/lfdballoc.c
Semester 3/modul4/xinu-vbox/device/lfs/lfdbfree.c
Semester 3/modul4/xinu-vbox/device/lfs/lfflush.c
Semester 3/modul4/xinu-vbox/device/lfs/lfgetmode.c
Semester 3/modul4/xinu-vbox/device/lfs/lfiballoc.c
Semester 3/modul4/xinu-vbox/device/lfs/lfibclear.c
Semester 3/modul4/xinu-vbox/device/lfs/lfibget.c
Semester 3/modul4/xinu-vbox/device/lfs/lfibput.c
Semester 3/modul4/xinu-vbox/device/lfs/lflclose.c
Semester 3/modul4/xinu-vbox/device/lfs/lflcontrol.c
Semester 3/modul4/xinu-vbox/device/lfs/lflgetc.c
Semester 3/modul4/xinu-vbox/device/lfs/lflinit.c
Semester 3/modul4/xinu-vbox/device/lfs/lflputc.c
Semester 3/modul4/xinu-vbox/device/lfs/lflread.c
Semester 3/modul4/xinu-vbox/device/lfs/lflseek.c
Semester 3/modul4/xinu-vbox/device/lfs/lflwrite.c
Semester 3/modul4/xinu-vbox/device/lfs/lfscheck.c
Semester 3/modul4/xinu-vbox/device/lfs/lfsckfmt.c
Semester 3/modul4/xinu-vbox/device/lfs/lfscreate.c
Semester 3/modul4/xinu-vbox/device/lfs/lfsetup.c
Semester 3/modul4/xinu-vbox/device/lfs/lfsinit.c
Semester 3/modul4/xinu-vbox/device/lfs/lfsopen.c
Semester 3/modul4/xinu-vbox/device/lfs/lftruncate.c
Semester 3/modul4/xinu-vbox/device/nam/mount.c
Semester 3/modul4/xinu-vbox/device/nam/naminit.c
Semester 3/modul4/xinu-vbox/device/nam/nammap.c
Semester 3/modul4/xinu-vbox/device/nam/namopen.c
Semester 3/modul4/xinu-vbox/device/pipe/pipe_close.c
Semester 3/modul4/xinu-vbox/device/pipe/pipe_getc.c
Semester 3/modul4/xinu-vbox/device/pipe/pipe_init.c
Semester 3/modul4/xinu-vbox/device/pipe/pipe_open.c
Semester 3/modul4/xinu-vbox/device/pipe/pipe_putc.c
Semester 3/modul4/xinu-vbox/device/pipe/pipe_read.c
Semester 3/modul4/xinu-vbox/device/pipe/pipe_write.c
Semester 3/modul4/xinu-vbox/device/ram/ramclose.c
Semester 3/modul4/xinu-vbox/device/ram/raminit.c
Semester 3/modul4/xinu-vbox/device/ram/ramopen.c
Semester 3/modul4/xinu-vbox/device/ram/ramread.c
Semester 3/modul4/xinu-vbox/device/ram/ramwrite.c
Semester 3/modul4/xinu-vbox/device/rds/Design_Notes
Semester 3/modul4/xinu-vbox/device/rds/rdsars.c
Semester 3/modul4/xinu-vbox/device/rds/rdscomm.c
Semester 3/modul4/xinu-vbox/device/rds/rdscontrol.c
Semester 3/modul4/xinu-vbox/device/rds/rdsinit.c
Semester 3/modul4/xinu-vbox/device/rds/rdsopen.c
Semester 3/modul4/xinu-vbox/device/rds/rdsprocess.c
Semester 3/modul4/xinu-vbox/device/rds/rdsqfcns.c
Semester 3/modul4/xinu-vbox/device/rds/rdsread.c
Semester 3/modul4/xinu-vbox/device/rds/rdswrite.c
Semester 3/modul4/xinu-vbox/device/rfs/rflclose.c
Semester 3/modul4/xinu-vbox/device/rfs/rflgetc.c
Semester 3/modul4/xinu-vbox/device/rfs/rflinit.c
Semester 3/modul4/xinu-vbox/device/rfs/rflputc.c
Semester 3/modul4/xinu-vbox/device/rfs/rflread.c
Semester 3/modul4/xinu-vbox/device/rfs/rflseek.c
Semester 3/modul4/xinu-vbox/device/rfs/rflwrite.c
Semester 3/modul4/xinu-vbox/device/rfs/rfscomm.c
Semester 3/modul4/xinu-vbox/device/rfs/rfscontrol.c
Semester 3/modul4/xinu-vbox/device/rfs/rfsgetmode.c
Semester 3/modul4/xinu-vbox/device/rfs/rfsinit.c
Semester 3/modul4/xinu-vbox/device/rfs/rfsndmsg.c
Semester 3/modul4/xinu-vbox/device/rfs/rfsopen.c
Semester 3/modul4/xinu-vbox/device/sdmc/sdmcclose.c
Semester 3/modul4/xinu-vbox/device/sdmc/sdmccmd.c
Semester 3/modul4/xinu-vbox/device/sdmc/sdmcdispatch.S
Semester 3/modul4/xinu-vbox/device/sdmc/sdmcinit.c
Semester 3/modul4/xinu-vbox/device/sdmc/sdmcinterrupt.c
Semester 3/modul4/xinu-vbox/device/sdmc/sdmcopen.c
Semester 3/modul4/xinu-vbox/device/sdmc/sdmcread.c
Semester 3/modul4/xinu-vbox/device/sdmc/sdmcwrite.c
Semester 3/modul4/xinu-vbox/device/tty/ttycontrol.c
Semester 3/modul4/xinu-vbox/device/tty/ttydispatch.S
Semester 3/modul4/xinu-vbox/device/tty/ttygetc.c
Semester 3/modul4/xinu-vbox/device/tty/ttyhandle_in.c
Semester 3/modul4/xinu-vbox/device/tty/ttyhandle_out.c
Semester 3/modul4/xinu-vbox/device/tty/ttyhandler.c
Semester 3/modul4/xinu-vbox/device/tty/ttyinit.c
Semester 3/modul4/xinu-vbox/device/tty/ttykickout.c
Semester 3/modul4/xinu-vbox/device/tty/ttyputc.c
Semester 3/modul4/xinu-vbox/device/tty/ttyread.c
Semester 3/modul4/xinu-vbox/device/tty/ttywrite.c
Semester 3/modul4/xinu-vbox/include/arp.h
Semester 3/modul4/xinu-vbox/include/bufpool.h
Semester 3/modul4/xinu-vbox/include/clock.h
Semester 3/modul4/xinu-vbox/include/conf.h
Semester 3/modul4/xinu-vbox/include/ctype.h
Semester 3/modul4/xinu-vbox/include/date.h
Semester 3/modul4/xinu-vbox/include/debug.h
Semester 3/modul4/xinu-vbox/include/delay.h
Semester 3/modul4/xinu-vbox/include/device.h
Semester 3/modul4/xinu-vbox/include/dhcp.h
Semester 3/modul4/xinu-vbox/include/dns.h
Semester 3/modul4/xinu-vbox/include/e1000e.h
Semester 3/modul4/xinu-vbox/include/ether.h
Semester 3/modul4/xinu-vbox/include/ethloop.h
Semester 3/modul4/xinu-vbox/include/file.h
Semester 3/modul4/xinu-vbox/include/flash.h
Semester 3/modul4/xinu-vbox/include/i386.h
Semester 3/modul4/xinu-vbox/include/icmp.h
Semester 3/modul4/xinu-vbox/include/icu.h
Semester 3/modul4/xinu-vbox/include/icu.s
Semester 3/modul4/xinu-vbox/include/interrupt.h
Semester 3/modul4/xinu-vbox/include/io.h
Semester 3/modul4/xinu-vbox/include/ip.h
Semester 3/modul4/xinu-vbox/include/kernel.h
Semester 3/modul4/xinu-vbox/include/lfilesys.h
Semester 3/modul4/xinu-vbox/include/limits.h
Semester 3/modul4/xinu-vbox/include/mark.h
Semester 3/modul4/xinu-vbox/include/memory.h
Semester 3/modul4/xinu-vbox/include/multiboot.h
Semester 3/modul4/xinu-vbox/include/name.h
Semester 3/modul4/xinu-vbox/include/net.h
Semester 3/modul4/xinu-vbox/include/pci.h
Semester 3/modul4/xinu-vbox/include/pipe.h
Semester 3/modul4/xinu-vbox/include/ports.h
Semester 3/modul4/xinu-vbox/include/process.h
Semester 3/modul4/xinu-vbox/include/prototypes.h
Semester 3/modul4/xinu-vbox/include/pxe.h
Semester 3/modul4/xinu-vbox/include/quark_irq.h
Semester 3/modul4/xinu-vbox/include/quark_pdat.h
Semester 3/modul4/xinu-vbox/include/queue.h
Semester 3/modul4/xinu-vbox/include/ramdisk.h
Semester 3/modul4/xinu-vbox/include/rdisksys.h
Semester 3/modul4/xinu-vbox/include/resched.h
Semester 3/modul4/xinu-vbox/include/rfilesys.h
Semester 3/modul4/xinu-vbox/include/sdmc.h
Semester 3/modul4/xinu-vbox/include/semaphore.h
Semester 3/modul4/xinu-vbox/include/shell.h
Semester 3/modul4/xinu-vbox/include/shprototypes.h
Semester 3/modul4/xinu-vbox/include/stdarg.h
Semester 3/modul4/xinu-vbox/include/stddef.h
Semester 3/modul4/xinu-vbox/include/stdio.h
Semester 3/modul4/xinu-vbox/include/stdlib.h
Semester 3/modul4/xinu-vbox/include/string.h
Semester 3/modul4/xinu-vbox/include/testsuite.h
Semester 3/modul4/xinu-vbox/include/tftp.h
Semester 3/modul4/xinu-vbox/include/tty.h
Semester 3/modul4/xinu-vbox/include/uart.h
Semester 3/modul4/xinu-vbox/include/udp.h
Semester 3/modul4/xinu-vbox/include/xinu.h
Semester 3/modul4/xinu-vbox/lib/abs.c
Semester 3/modul4/xinu-vbox/lib/atoi.c
Semester 3/modul4/xinu-vbox/lib/atol.c
Semester 3/modul4/xinu-vbox/lib/bzero.c
Semester 3/modul4/xinu-vbox/lib/ctype_.c
Semester 3/modul4/xinu-vbox/lib/doprnt.c
Semester 3/modul4/xinu-vbox/lib/doscan.c
Semester 3/modul4/xinu-vbox/lib/fdoprnt.c
Semester 3/modul4/xinu-vbox/lib/fgetc.c
Semester 3/modul4/xinu-vbox/lib/fgets.c
Semester 3/modul4/xinu-vbox/lib/fprintf.c
Semester 3/modul4/xinu-vbox/lib/fputc.c
Semester 3/modul4/xinu-vbox/lib/fputs.c
Semester 3/modul4/xinu-vbox/lib/fscanf.c
Semester 3/modul4/xinu-vbox/lib/getchar.c
Semester 3/modul4/xinu-vbox/lib/labs.c
Semester 3/modul4/xinu-vbox/lib/memcmp.c
Semester 3/modul4/xinu-vbox/lib/memcpy.c
Semester 3/modul4/xinu-vbox/lib/memset.c
Semester 3/modul4/xinu-vbox/lib/printf.c
Semester 3/modul4/xinu-vbox/lib/putchar.c
Semester 3/modul4/xinu-vbox/lib/qsort.c
Semester 3/modul4/xinu-vbox/lib/rand.c
Semester 3/modul4/xinu-vbox/lib/sprintf.c
Semester 3/modul4/xinu-vbox/lib/sscanf.c
Semester 3/modul4/xinu-vbox/lib/strchr.c
Semester 3/modul4/xinu-vbox/lib/strcmp.c
Semester 3/modul4/xinu-vbox/lib/strcpy.c
Semester 3/modul4/xinu-vbox/lib/strlen.c
Semester 3/modul4/xinu-vbox/lib/strncat.c
Semester 3/modul4/xinu-vbox/lib/strncmp.c
Semester 3/modul4/xinu-vbox/lib/strncpy.c
Semester 3/modul4/xinu-vbox/lib/strnlen.c
Semester 3/modul4/xinu-vbox/lib/strrchr.c
Semester 3/modul4/xinu-vbox/lib/strstr.c
Semester 3/modul4/xinu-vbox/net/arp.c
Semester 3/modul4/xinu-vbox/net/arp_dump.c
Semester 3/modul4/xinu-vbox/net/dhcp.c
Semester 3/modul4/xinu-vbox/net/dhcp_dump.c
Semester 3/modul4/xinu-vbox/net/dns.c
Semester 3/modul4/xinu-vbox/net/dot2ip.c
Semester 3/modul4/xinu-vbox/net/hexdump.c
Semester 3/modul4/xinu-vbox/net/icmp.c
Semester 3/modul4/xinu-vbox/net/ip.c
Semester 3/modul4/xinu-vbox/net/net.c
Semester 3/modul4/xinu-vbox/net/pdump.c
Semester 3/modul4/xinu-vbox/net/pxe.c
Semester 3/modul4/xinu-vbox/net/tftp.c
Semester 3/modul4/xinu-vbox/net/udp.c
Semester 3/modul4/xinu-vbox/shell/addargs.c
Semester 3/modul4/xinu-vbox/shell/lexan.c
Semester 3/modul4/xinu-vbox/shell/Notes_On_Pipes
Semester 3/modul4/xinu-vbox/shell/shell.c
Semester 3/modul4/xinu-vbox/shell/xsh_argecho.c
Semester 3/modul4/xinu-vbox/shell/xsh_arp.c
Semester 3/modul4/xinu-vbox/shell/xsh_cat.c
Semester 3/modul4/xinu-vbox/shell/xsh_clear.c
Semester 3/modul4/xinu-vbox/shell/xsh_date.c
Semester 3/modul4/xinu-vbox/shell/xsh_devdump.c
Semester 3/modul4/xinu-vbox/shell/xsh_echo.c
Semester 3/modul4/xinu-vbox/shell/xsh_exit.c
Semester 3/modul4/xinu-vbox/shell/xsh_help.c
Semester 3/modul4/xinu-vbox/shell/xsh_kill.c
Semester 3/modul4/xinu-vbox/shell/xsh_ls.c
Semester 3/modul4/xinu-vbox/shell/xsh_memdump.c
Semester 3/modul4/xinu-vbox/shell/xsh_memstat.c
Semester 3/modul4/xinu-vbox/shell/xsh_netinfo.c
Semester 3/modul4/xinu-vbox/shell/xsh_ns.c
Semester 3/modul4/xinu-vbox/shell/xsh_ping.c
Semester 3/modul4/xinu-vbox/shell/xsh_ps.c
Semester 3/modul4/xinu-vbox/shell/xsh_rdstest.c
Semester 3/modul4/xinu-vbox/shell/xsh_sleep.c
Semester 3/modul4/xinu-vbox/shell/xsh_tee.c
Semester 3/modul4/xinu-vbox/shell/xsh_udpdump.c
Semester 3/modul4/xinu-vbox/shell/xsh_udpecho.c
Semester 3/modul4/xinu-vbox/shell/xsh_udpserver.c
Semester 3/modul4/xinu-vbox/shell/xsh_uptime.c
Semester 3/modul4/xinu-vbox/system/ascdate.c
Semester 3/modul4/xinu-vbox/system/bufinit.c
Semester 3/modul4/xinu-vbox/system/chprio.c
Semester 3/modul4/xinu-vbox/system/clkdisp.S
Semester 3/modul4/xinu-vbox/system/clkhandler.c
Semester 3/modul4/xinu-vbox/system/clkinit.c
Semester 3/modul4/xinu-vbox/system/close.c
Semester 3/modul4/xinu-vbox/system/conf.c
Semester 3/modul4/xinu-vbox/system/control.c
Semester 3/modul4/xinu-vbox/system/create.c
Semester 3/modul4/xinu-vbox/system/ctxsw.S
Semester 3/modul4/xinu-vbox/system/debug.c
Semester 3/modul4/xinu-vbox/system/evec.c
Semester 3/modul4/xinu-vbox/system/exit.c
Semester 3/modul4/xinu-vbox/system/freebuf.c
Semester 3/modul4/xinu-vbox/system/freemem.c
Semester 3/modul4/xinu-vbox/system/getbuf.c
Semester 3/modul4/xinu-vbox/system/getc.c
Semester 3/modul4/xinu-vbox/system/getdev.c
Semester 3/modul4/xinu-vbox/system/getitem.c
Semester 3/modul4/xinu-vbox/system/getmem.c
Semester 3/modul4/xinu-vbox/system/getpid.c
Semester 3/modul4/xinu-vbox/system/getprio.c
Semester 3/modul4/xinu-vbox/system/getstk.c
Semester 3/modul4/xinu-vbox/system/getticks.c
Semester 3/modul4/xinu-vbox/system/gettime.c
Semester 3/modul4/xinu-vbox/system/getutime.c
Semester 3/modul4/xinu-vbox/system/i386.c
Semester 3/modul4/xinu-vbox/system/init.c
Semester 3/modul4/xinu-vbox/system/initialize.c
Semester 3/modul4/xinu-vbox/system/insert.c
Semester 3/modul4/xinu-vbox/system/insertd.c
Semester 3/modul4/xinu-vbox/system/intr.S
Semester 3/modul4/xinu-vbox/system/ioerr.c
Semester 3/modul4/xinu-vbox/system/ionull.c
Semester 3/modul4/xinu-vbox/system/kill.c
Semester 3/modul4/xinu-vbox/system/kprintf.c
Semester 3/modul4/xinu-vbox/system/main.c
Semester 3/modul4/xinu-vbox/system/mark.c
Semester 3/modul4/xinu-vbox/system/meminit.c
Semester 3/modul4/xinu-vbox/system/mkbufpool.c
Semester 3/modul4/xinu-vbox/system/newqueue.c
Semester 3/modul4/xinu-vbox/system/open.c
Semester 3/modul4/xinu-vbox/system/panic.c
Semester 3/modul4/xinu-vbox/system/pci.c
Semester 3/modul4/xinu-vbox/system/ptclear.c
Semester 3/modul4/xinu-vbox/system/ptcount.c
Semester 3/modul4/xinu-vbox/system/ptcreate.c
Semester 3/modul4/xinu-vbox/system/ptdelete.c
Semester 3/modul4/xinu-vbox/system/ptinit.c
Semester 3/modul4/xinu-vbox/system/ptrecv.c
Semester 3/modul4/xinu-vbox/system/ptreset.c
Semester 3/modul4/xinu-vbox/system/ptsend.c
Semester 3/modul4/xinu-vbox/system/putc.c
Semester 3/modul4/xinu-vbox/system/queue.c
Semester 3/modul4/xinu-vbox/system/read.c
Semester 3/modul4/xinu-vbox/system/ready.c
Semester 3/modul4/xinu-vbox/system/receive.c
Semester 3/modul4/xinu-vbox/system/recvclr.c
Semester 3/modul4/xinu-vbox/system/recvtime.c
Semester 3/modul4/xinu-vbox/system/resched.c
Semester 3/modul4/xinu-vbox/system/resume.c
Semester 3/modul4/xinu-vbox/system/seek.c
Semester 3/modul4/xinu-vbox/system/semcount.c
Semester 3/modul4/xinu-vbox/system/semcreate.c
Semester 3/modul4/xinu-vbox/system/semdelete.c
Semester 3/modul4/xinu-vbox/system/semreset.c
Semester 3/modul4/xinu-vbox/system/send.c
Semester 3/modul4/xinu-vbox/system/signal.c
Semester 3/modul4/xinu-vbox/system/signaln.c
Semester 3/modul4/xinu-vbox/system/sleep.c
Semester 3/modul4/xinu-vbox/system/stacktrace.c
Semester 3/modul4/xinu-vbox/system/start.S
Semester 3/modul4/xinu-vbox/system/suspend.c
Semester 3/modul4/xinu-vbox/system/unsleep.c
Semester 3/modul4/xinu-vbox/system/userret.c
Semester 3/modul4/xinu-vbox/system/wait.c
Semester 3/modul4/xinu-vbox/system/wakeup.c
Semester 3/modul4/xinu-vbox/system/write.c
Semester 3/modul4/xinu-vbox/system/xdone.c
Semester 3/modul4/xinu-vbox/system/yield.c
Semester 3/modul4/Whatever.srctrlbm
Semester 3/modul4/Whatever.srctrldb
Semester 3/modul4/Whatever.srctrlprj
